button {
	background-color: #4285F4;
	color:#FFF;
	padding: 12px 10px;
}

.container{
	
	border:black 1px solid;
	border-radius: 5px;
	margin:30px 190px 0px 190px;
	font-family:arial;

}

.largo{
	background-color: #D8D4D4;
	padding: 10px 10px 14px 11px;
}

.nosombra{
	width: 85%;
}

.uno {
	display: inline-block;
	width: 40%;
	padding-left: 10px;
}
